<h1>contacts</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam fuga natus quia impedit accusantium ex ipsam nulla dicta rem. Repellat exercitationem odit maiores, facilis quaerat nesciunt velit quasi placeat ipsam.
</p>
<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>email</mat-label>
      <input matInput >
    </mat-form-field>

    <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>celular</mat-label>
          <input matInput >
        </mat-form-field>