
<div class="text">

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium quis nulla, doloribus vitae commodi consequuntur excepturi assumenda iure ad officia cumque adipisci voluptate et nostrum exercitationem, consectetur illum autem optio. Lorem ipsum dolor sit amet consectetur adipisicing elit. In, laudantium suscipit labore iure consequatur error omnis numquam, laboriosam, aliquid dolores magnam animi. Id vero suscipit exercitationem odio minus ducimus tempore!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, possimus tenetur, deleniti eos eum ut fuga accusamus quas rem officiis odio eaque magnam quibusdam ipsam error mollitia, dolorum omnis? Consequuntur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat culpa sed sint deserunt nobis eum quasi laudantium tenetur reiciendis laboriosam obcaecati eaque accusantium veniam dolores, sunt architecto, totam cum sequi?
    </div>